.taskbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.taskbar-left {
    color: black;
    background-color: white;
    position: relative;
    left: 0px;
    top: 0px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
li  {
    display: inline;
}
#sign-in {
    right: 20px;
    top: 10px;
    color: white;
    background-color: #0D77DE;
    position: absolute;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 2px;
    border: 0px;
    font-size: 11px !important;
}
#sign-in:hover {
    text-decoration: underline;
}
#gmail {
    color: #212b31;
    background-color: white;
    position: absolute;
    right: 135px;
    top: 15px;
    text-decoration: none;
}
#gmail:hover {
    text-decoration: underline;
}
#images {
    color: #212b31;
    background-color: white;
    position: absolute;
    right: 90px;
    top: 15px;
    text-decoration: none;
} 
#images:hover {
    text-decoration: underline;
}
#about {
    color: #212b31;
    background-color: white;
    position: absolute;
    left: 10px;
    top: 15px;
    text-decoration: none;
} 
#about:hover {
    text-decoration: underline;
}
#Store {
    color: #212b31;
    background-color: white;
    position: absolute;
    left: 60px;
    top: 15px;
    text-decoration: none;
}
#store:hover {
    text-decoration: underline;
} 
.footer {
    background-color: lightgray;
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#advertising {
    position: absolute;
    left: 10px;
    bottom: 12px;
    color: #212b31;
    text-decoration: none;
}
#advertising:hover {
    text-decoration: underline;
}
#business {
    position: absolute;
    left: 100px;
    bottom: 12px;
    color: #212b31;
    text-decoration: none;
}
#business:hover {
    text-decoration: underline;
}
#how-search-works {
    position: absolute;
    left: 190px;
    bottom: 12px;
    color: #212b31;
    text-decoration: none;
}
#how-search-works:hover {
    text-decoration: underline;
}
#privacy {
    position:absolute;
    right: 150px;
    bottom:12px;
    color: #212b31;
    text-decoration: none;
}
#privacy:hover {
    text-decoration: underline;
}
#terms {
    position:absolute;
    right: 90px;
    bottom: 12px;
    color: #212b31;
    text-decoration: none;
}
#terms:hover {
    text-decoration: underline;
}

#settings {
    position: absolute;
    right: 10px;
    bottom:12px;
    color: #212b31;
    text-decoration: none;
}
#settings:hover {
    text-decoration: underline;
}
#searchbar {
    border: radius 100px;
}
#logo {
    position:absolute;
    top: 20%;
    left: 42%;
}
#searchbar {
    position: absolute;
    top: 35%;
    left: 38%;
    width: 25%;
    border-radius:50px;
    -webkit-box-shadow: 2px 3px 0px -2px #ccc;
    padding:10px;
    border:0px;
    outline: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #CCC;
    
}
#searchbaritems {
    position: absolute;
    top: 36%;
    left: 36%;
}
#search-btns {
    position: absolute;
    top: 43%;
    left:43%;
    color: gray;
    background-color: lightgray;

}